#boardPage {
    min-height: 600px;
    display: grid;
    justify-content: start;
    align-content: start;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, minmax(300px, auto));
    grid-gap: 10px;
}

.page {
    width: calc(100% - 50px);
}

.flex {
    display: flex;
}

#log {
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#board {
    display: grid;
    justify-content: start;
    align-content: start;
}

#all-upgrades {
    grid-column-start: span 2;
}

.cell {
    border: 2px solid grey;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    background-color: gainsboro;
}

.padded {
    padding: 10px;
    margin: 10px;
}

.bordered {
    border: 1px solid grey;
}

.top-bar {
    width: 95%;
    height: 30px;
    font-size: 1.5em;
}

.tab-bar {
    width: 95%;
    height: 30px;
}


.trophies {
    background-color: rgb(255, 248, 146);
    border: 2px solid rgb(255, 230, 0);
}

.trophy-box {
    border: 2px solid black;
}

.trophy-name {
    border-bottom: 1px solid black;
}

.sub-box {
    width: 160px;
    height: 100px;
}

.text-box {
    font-size: 1em;
    width: 120px;
    text-align: center;
    margin: auto;
}

.mod-box {
    border: 2px solid orchid;
    background-color: rgb(255, 197, 253);
}

.mod-name {
    border-bottom: 1px solid orchid;
}

.unsafe {
    border: 2px dashed red;
}

.bold {
    font-weight: bold;
}

.header {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.sub-header {
    text-align: center;
    width: 100%;
    font-size: 0.9em;
}